@using BookStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Sach>

@{
    ViewBag.Title = "Index";
}
<div>

</div>

<div style="font-size:30px;margin-left :100px;"><p> Sách Giáo Trình : </p></div>
<hr/>
@{ int i = 0;}
@foreach (var item in Model)
{
    i++;
    <div class="sanpham" style="float:left;text-align:center; margin:5px 50px 10px 90px">
        <a href="@Url.Action("XemChiTiet","Sach",new { @Ma=item.MaSach})">
        <img src="~/HinhAnhSP/@item.AnhBia" alt="Image" style="width:150px;height:150px;" />
        </a>
        <br />

        <div class="tenSach" style=" color:#000; font-weight: bold;font-size:15px ">
        @item.TenSach
        </div>
        <br />  
        
        <div class="gia" style="text-align:center;color: red; font-size: 15px">
         Giá: @string.Format("{0:0,0}", item.GiaBan) VND
        </div>
        <br />

        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @Ma = item.MaSach, @strURL = Request.Url.ToString() }))
        {
            <button type="submit" class="button button-delete" style="margin-top:1%"> Mua Hàng <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        }
    </div>
    if (i % 3 == 0)
    {
        <hr />
    }
}

<div style="clear:both"></div>
@* tao link cac trang *@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("index", "Home", new { page = page }))

<div>
    <div>Đại học là một trường, nhưng là một trường loại đặc biệt duy nhất. Ở đó không phải chỉ có dạy, nhưng người sinh viên tham gia vào nghiên cứu, và qua đó đạt một sự giáo dục khoa học quyết định cho cuộc đời. Theo tinh thần đại học, các sinh viên là những nhà tư tưởng độc lập, tự trách nhiệm và lắng nghe thầy mình một cách phê phán. Họ có tự do trong sự học.</div>
    <br />
    <hr />
    <div>
        Đại học là nơi ở đó xã hội và nhà nước để cho ý thức sáng sủa nhất về thời đại phát triển. Ở đó thầy và trò có thể đến với nhau như những con người chỉ có tiếng gọi là đi tìm và nắm bắt chân lý. Vì rằng đâu đó việc đi tìm chân lý vô điều kiện (phải) diễn ra, bởi đó là một nhu cầu của con người với tư cách là con người.
    </div>
    <br />
    <hr />
    <div>
        Các quyền lực trong nhà nước và xã hội tuy nhiên cũng chăm lo cho đại học, vì đại học đem lại nền tảng cho việc thực hành các nghề (thuộc) nhà nước, điều đòi hỏi phải có tri thức khoa học và giáo dục tinh thần. […]
    </div>
    <br />
    <hr />
    <div>
        Chỉ có ai mang trong mình ý niệm đại học, người đó mới có thể tư duy và hành động đúng theo sự việc cho đại học. Ai không như thế, người ấy chỉ nhìn thấy một bộ máy… Bộ máy này được cải trang bằng những lời lẽ hùng hồn truyền thống.
    </div>
    <br />
    <hr />
    <div>
        Tác giả : KARL JASPERS
        Bác sĩ tâm thần học, nhà triết học và giáo dục đại học Đức.!!.
    </div>

</div>

@*@section NoiDungBenPhai{
   Bản Đồ với FaceBook : 
}*@